:root {
    --black: #181818;
    --paragraph: rgba(24, 24, 24, 0.7);
    --primay: #5956E8;
    --white: #ffffff;
    --inter: "Inter", sans-serif;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

.button {
    padding: 13px 24px;
    border-radius: 10px;
    border: none;
    background: var(--primay);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.button.secondary {
    background: var(--white);
    color: var(--primay);

}

.navbar {
    background: var(--white);
    padding: 34px 0;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.main_menu ul {
    display: flex;
    align-items: center;
    gap: 50px;


}

.main_menu ul li {
    position: relative;
    padding: 10px 0;
}

.main_menu ul li.active::after {
    content: "";
    width: 5px;
    height: 5px;
    background: var(--primay);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.main_menu ul li.active a {
    color: var(--primay);
}

.main_menu ul li a {
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    transition: all linear 0.3s;
}

.main_menu ul li a:hover {
    color: var(--primay);
}


#banner {
    padding: 238px 0;
    background: var(--primay);
}

.banner_content {
    display: flex;
    align-items: center;
    gap: 30px;

}

.banner_content .info {
    width: 50%;
}

.banner_content .info h1 {
    font-size: 65px;
    font-weight: 800;
    line-height: 80px;
    color: var(--white);
}

.banner_content .info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: var(--white);
    padding-top: 25px;
    padding-bottom: 30px;
}

.banner_content .image {
    width: 50%;
}

.main_image {
    display: flex;
    justify-content: end;
    position: relative;
}

.main_image .watch {
    position: absolute;
    right: 305px;
    top: -80px;
    animation-name: watch;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.main_image .light {
    position: absolute;
    right: 190px;
    top: -150px;
    animation-name: light;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.main_image .sms {
    position: absolute;
    right: 0px;
    top: -50px;
    animation-name: sms;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
}


@keyframes watch {
    0% {
        right: 305px;
        top: -80px;
    }

    100% {
        right: 295px;
        top: -70px
    }
}

@keyframes light {
    0% {
        right: 190px;
        top: -150px;
    }

    100% {
        right: 180px;
        top: -140px
    }
}

@keyframes sms {
    0% {
        right: 0px;
        top: -50px;
    }

    100% {
        right: -10px;
        top: -40px
    }
}